@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* common classes  */
.spacing{
  margin: 10px;
  padding: 10px;
}

.mt-14{
  margin-top: 14px;
}
/* --------------- */
.bg {
  background-color: #FFB666;
}

.cp {
  color: #FF8600;
}

.cs {
  /* color: #AEB8FE; */
  color: #4fc2eb;
}

.App {
  text-align: center;
}

.section {
  min-height: 100vh;
}

/* common heading */
.heading {
  font-size: 36px;
}

.subHeading{
  font-size: 20px;
}

/* horizontal line */
.hr {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 16.5rem;
  color: #05c148;
  opacity: 1;
}

.bgImage {
  object-fit: cover;
  width: 100%;
  max-height: 100vh;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

/* Card style  */
.cardComp {
  min-height: 300px;
  /* width: 50%; */
  margin: auto;
  padding: auto;
  border: 1px solid #e7e8f5;
}

.cardComp :hover {
  background-color: #f8f9fa;
}

.cardTitle {
  font-size: 20px;
  text-align: justify;
}

.cardContent{
  font-size: 14px;
  border: none;
  text-align: justify;
}

.cardContent :hover{
  border: none;;
}

/* ------------------------- */

/* text button style */
.button {
  font-size: 14px;
  text-decoration: none;
  border: none;
  color: #4fc2eb;
}

.button :hover {
  font-style: italic;
  color: #FFB666 !important;
}
/* ------------------------ */

/* form outer part  */
.formOuter{
  border: 1px solid #e7e8f5;
  border-radius: 4px;
}
/* ------------------ */

.footer {
  min-height: 40vh;
}